<!doctype html>
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
        meta(name='apple-mobile-web-app-capable' content='yes')
        // 全屏显示
        meta(name='apple-mobile-web-app-status-bar-style' content='blank')
        // 隐藏状态栏
        meta(name='format-detection' content='telephone=no')
        // 关闭iphone给数字添加链接的功能
        title 掼蛋
        meta(name='Keywords' content='牌缘城市,牌缘城市下载,斗地主，德州扑克，南通长牌')
        meta(name='Description' content='牌缘城市专业网络棋牌游戏牌缘城市免费下载,提供有牌缘城市介绍,牌缘城市攻略,牌缘城市技巧,教会您怎样玩牌缘城市!')
        link(rel='SHORTCUT ICON' href='http://m.5566youxi.com/images/favicon.ico')
        link(rel='BOOKMARK' href='http://m.5566youxi.com/images/favicon.ico')
        link#default_style(rel='stylesheet' type='text/css' href='http://m.5566youxi.com/mobilestyle/style.css' media='all')
        script(type='text/javascript' src='http://m.5566youxi.com/mobilestyle/jquery.min.js')
        script(src='//cdn.aiclicash.com/trace/trace.js')
    body
        input#androidUrl(type='hidden' value='http://resources.guandanxia.com/guandan/applications/fivesix_'+num+'/android/fivesix_'+num+'.apk')
        input#iosUrl(type='hidden' value='https://apps.apple.com/cn/app/id1448841038')
        p.pa.hint#hint(style='display:none')
        img(src='http://m.5566youxi.com/images/1561698389/back_0.jpg' width='100%')
        a(href='javascript:GameInfo.download();' target='_blank')
            img#down_1(src='http://m.5566youxi.com/images/1561698389/back_1.jpg' width='100%' alt='棋牌游戏下载')
        img(src='http://m.5566youxi.com/images/1561698389/back_2.jpg' width='100%')
        img(src='http://m.5566youxi.com/images/1561698389/back_3.jpg' width='100%')
        script(type='text/javascript' src='http://m.5566youxi.com/mobilestyle/webkit.js')
        script(type='text/javascript' src='http://m.5566youxi.com/mobilestyle/game.js')
        script.
            document.getElementById("hint").addEventListener("click", function () {
                                showtips(0);
                            }, false);
                            function showtips(type) {
                                if (type == 1) {
                                    document.getElementById("hint").style.display = "block";
                                } else {
                                    document.getElementById("hint").style.display = "none";
                                }
                            }
        
        script(type='text/javascript').
            var u = navigator.userAgent;
                            setTimeout(function () {
                                if (u.indexOf("MicroMessenger") > -1) {
                                    var obj = document.getElementsByTagName("a");
                                    for (var i = 0;
                                            i < obj.length;
                                            i++) {
                                        var _name = String(obj[i].href);
                                        if (_name.indexOf("javascript:GameInfo.download();") > -1) {
                                            var getObj = obj[i];
                                            getObj.addEventListener("click", function () {
                                                showtips(1);
                                            }, false);
                                        }
                                    }
                                }
                            }, 500);
        
        script.
            window._iclicash = window._iclicash || [];
                    var bt1 = document.getElementById("down_1");
                    window._iclicash.push([bt1, "click", "active1", "op"]);//op根据业务来备注，可任意取名
        
        script.
            var _hmt = _hmt || [];
                    (function() {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?5a19aee5f814f753c69f2b321c42c2f7";
                    var s = document.getElementsByTagName("script")[0]; 
                    s.parentNode.insertBefore(hm, s);
                    })();
        
        //  Analytics 
        script.
            var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0];
                        var myDate = new Date();
                        date = myDate.getFullYear() + "" + myDate.getMonth() + "" + myDate.getDate();
                        g.type = "text/javascript";
                        g.defer = true;
                        g.async = true;
                                g.src = "//analytics.jiuzhilan.com/codes/jiuzhilan_21378.js?" + date;
                                s.parentNode.insertBefore(g, s);
        
        //  End Analytics Code 